* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 68.8%; }

body {
  background-color: rgba(255, 255, 238, 0.3);
  box-sizing: border-box; }

.card {
  position: relative;
  margin: 24vh auto;
  width: 27rem;
  height: 38rem;
  perspective: 170rem;
  background-color: #fff; }
  .card__front {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    box-shadow: 0 1.3rem 2.3rem rgba(119, 119, 119, 0.1);
    transition: all 0.6s ease;
    overflow: hidden; }
  .card__back {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    padding: 1.7rem;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    box-shadow: 0 1.3rem 2.3rem rgba(85, 144, 158, 0.1);
    transition: all 0.4s;
    transform: rotateY(180deg);
    overflow: hidden;
    background-color: #3f4e49; }
  .card:hover .card__front {
    transform: rotateY(-180deg); }
  .card:hover .card__back {
    transform: rotateY(0); }
  .card__header {
    height: 15rem;
    background-blend-mode: screen;
    background-size: cover;
    background-image: url("../img/photo1.jpg"), linear-gradient(to right bottom, #449785, #0a4938);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); }
  .card__heading {
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 0.16rem;
    font-weight: 300;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 8rem;
    right: 1.5rem;
    width: 65%; }
    .card__heading--span {
      padding: 0.4rem 1.9rem;
      box-decoration-break: clone;
      background-image: linear-gradient(to right bottom, rgba(42, 117, 114, 0.74), rgba(23, 67, 92, 0.74)); }
  .card__details {
    padding: 3rem;
    margin-top: 3rem; }
    .card__details ul {
      width: 100%;
      list-style: none;
      margin: 0 auto; }
      .card__details ul li {
        font-size: 1.1rem;
        text-align: center;
        padding: 0.4rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid rgba(51, 51, 51, 0.1); }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    text-align: center; }
  .card__price-box {
    text-align: center;
    color: #fff;
    margin-bottom: 7rem; }
  .card__price-text {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-weight: 100;
    font-size: 5rem; }
  @media (max-width: 40rem) {
    .card {
      height: auto;
      box-shadow: 0 1.3rem 2.3rem rgba(109, 12, 12, 0.17); }
      .card__front {
        height: auto;
        position: relative;
        box-shadow: none; }
      .card__back {
        height: auto;
        position: relative;
        box-shadow: none;
        transform: rotateY(0);
        clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%); }
      .card:hover .card__front {
        transform: rotateY(0); }
      .card__details {
        padding: 0 3rem; }
      .card__cta {
        position: relative;
        top: 0;
        left: 0;
        padding: 3rem;
        transform: translate(0);
        width: 100%; }
      .card__price-box {
        margin-bottom: 3rem; }
      .card__price-value {
        font-size: 3.4rem; } }

.btn, .btn:link, .btn:visited {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 3rem;
  transition: all 0.2s ease;
  background-color: #25584d;
  color: #fff;
  border: none;
  cursor: pointer; }
  .btn::after, .btn:link::after, .btn:visited::after {
    background-color: rgba(76, 141, 167, 0.842); }

.btn:hover {
  transform: translateY(-0.2rem);
  box-shadow: 0 1rem 2rem rgba(51, 51, 51, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.3) scaleY(1.5);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  box-shadow: 0 0.5rem 1rem rgba(51, 51, 51, 0.2); }

.btn::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 0.3s; }
